{
  "tabWidth": 2,
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "react$",
    "react-dom/(.*)$",
    "react-router-dom",
    "date-fns/(.*)$",
    "date-fns",
    "firebase/(.*)$",
    "[./]firebase/(.*)$",
    "^primereact/(.*)$",
    "^primeflex/(.*)$",
    "^primeicons/(.*)$",
    "^react-icons/(.*)$",
    "[./]routes/(.*)$",
    "[./]contexts/(.*)$",
    "[./]services/(.*)$",
    "[./]hooks/(.*)$",
    "[./]formErrors/(.*)$",
    "[./]types/(.*)$",
    "[./]components/(.*)$",
    "[./]controllers/(.*)$",
    "[./]functions/(.*)$",
    "[./]assets/(.*)$",
    "[./]pages/(.*)$",
    "[./]styles/(.*)$",
    "[./](.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
