{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "react$",
    "<THIRD_PARTY_MODULES>",
    "../firebase/(.*)$",
    "firebase/(.*)$",
    "../../formErrors/(.*)$",
    "date-fns/(.*)$",
    "date-fns",
    "modules/(.*)$",
    "component/(.*)$",
    "services/(.*)$",
    "validations/(.*)$",
    "./assets/(.*)$",
    "./hooks/(.*)$",
    "../hooks/(.*)$",
    "./types/(.*)$",
    "../types/(.*)$",
    "../../types/(.*)$",
    "../components/(.*)$",
    "./components/(.*)$",
    "../../components/(.*)$",
    "../controllers/(.*)$",
    "../../controllers/(.*)$",
    "../functions/(.*)$",
    "./pages/(.*)$",
    "./validations/(.*)$",
    "styles/(.*)$",
    "^@testing-library/react$",
    "^@testing-library/jest-dom",
    "primereact/resources/(.*)$",
    "primeicons/primeicons.css",
    "primeflex/primeflex.css",
    ".css",
    "./card",
    "../index"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
